.spyproject
.spyder
*.pyc
build
dist
*.egg-info
*.txt
env
.env
.env.*
/.vs
.pyirc
.venv/
.ipynb_checkpoints/
.env
.DS_STORE
/combined
.venv_core*
*.obj
pytest_results.json
pkgs/community/swarmauri_vectorstore_annoy/test_annoy.ann
/pkgs/standards/ptree_dag/pkgs
*secrets/*
!.gitkeep          # keep the empty dir in repo
peagen_artifacts/
gateway.db
pkgs/standards/peagen/peagen.zip
/pkgs/uv.lock
pkgs/standards/peagen/.pymon
*.pem
kms.db

*.asc
*.so

target/

*.db
