.spyproject
.spyder
*.pyc
build
dist
*.egg-info
*.txt
env
/.vs
.pyirc
.venv/
.ipynb_checkpoints/
.env
.DS_STORE
/combined
.venv_core*
*.obj
pytest_results.json
pkgs/community/swarmauri_vectorstore_annoy/test_annoy.ann
