
.spyproject
.spyder
*.pyc
build
dist
*.egg-info
*.txt
env
.env
.env.*
/.vs
.pyirc
.venv/
.ipynb_checkpoints/
.env
.DS_STORE
/combined
.venv_core*
*.obj
pytest_results.json
pkgs/community/swarmauri_vectorstore_annoy/test_annoy.ann
/pkgs/standards/ptree_dag/pkgs
*secrets/*
peagen_artifacts/
pkgs/standards/peagen/peagen.zip
/pkgs/uv.lock
pkgs/standards/peagen/.pymon
*.pem
gateway.db
kms.db
*.asc
*.so
*.db
target/
!.gitkeep          # keep the empty dir in repo
pkgs/experimental/swarmakit/libs/svelte/.vscode/extensions.json
node_modules/
