[tool.poetry]
name = "swarmauri"
version = "0.5.1.dev5"
description = "This repository includes base classes, concrete generics, and concrete standard components within the Swarmauri framework."
authors = ["Jacob Stewart <jacob@swarmauri.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "http://github.com/swarmauri/swarmauri-sdk"
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12"
]

[tool.poetry.dependencies]
python = ">=3.10,<4.0"
swarmauri_core = "==0.5.1.dev18"
keras = "==3.5.0"
redis = "^4.0"
ai21 = ">=2.2.0"
transformers = ">=4.45.0"
tensorflow = "*"
typing_extensions = "*"
scikit-learn = "*"
gensim = "*"
textblob = "*"
spacy = "*"
pygments = "*"
gradio = "*"
websockets = "*"
openai = "*"
groq = "*"
mistralai = "*"
cohere = "*"
google-generativeai = "*"
anthropic = "*"
scipy = "*"
qdrant-client = "*"
chromadb = "*"
textstat = "*"
nltk = "*"
psutil = "*"
qrcode = "*"
folium = "*"
captcha = "*"
bs4 = "*"
pygithub = "*"
torch = "*"
yake = "==0.4.8"
tf-keras = "==2.17.0"
deepface = "*"
aiohttp = "*"


# Pacmap requires specific version of numba
#numba = ">=0.59.0"
#pacmap = "==0.7.3"



[tool.poetry.dev-dependencies]
flake8 = "^7.0"  # Add flake8 as a development dependency
pytest = "^8.0"  # Ensure pytest is also added if you run tests
pytest-asyncio = ">=0.24.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
norecursedirs = ["combined", "scripts"]

markers = [
    "test: standard test",
    "unit: Unit tests",
    "integration: Integration tests",
    "acceptance: Acceptance tests",
    "experimental: Experimental tests",
]

log_cli = true
log_cli_level = "INFO"
log_cli_format = "%(asctime)s [%(levelname)s] %(message)s"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"

asyncio_default_fixture_loop_scope = "function"
