<!-- Below includes the required header fragmenet -->
![Swamauri Logo](https://res.cloudinary.com/dbjmpekvl/image/upload/v1730099724/Swarmauri-logo-lockup-2048x757_hww01w.png)

<p align="center">
    <a href="https://pypi.org/project/swarmauri_{{RESOURCE_KIND}}_{{PACKAGE_NAME}}/">
        <img src="https://img.shields.io/pypi/dm/swarmauri_{{RESOURCE_KIND}}_{{PACKAGE_NAME}}" alt="PyPI - Downloads"/></a>
    <a href="https://github.com/swarmauri/swarmauri-sdk">
        <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https://github.com/swarmauri/swarmauri-sdk/pkgs/{{PROJECT_ROOT}}/swarmauri_{{RESOURCE_KIND}}_{{PACKAGE_NAME}}&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false" alt="GitHub Hits"/></a>
    <a href="https://pypi.org/project/swarmauri/">
        <img src="https://img.shields.io/pypi/pyversions/swarmauri_{{RESOURCE_KIND}}_{{PACKAGE_NAME}}" alt="PyPI - Python Version"/></a>
    <a href="https://pypi.org/project/swarmauri/">
        <img src="https://img.shields.io/pypi/l/swarmauri_{{RESOURCE_KIND}}_{{PACKAGE_NAME}}" alt="PyPI - License"/></a>
    <br />
    <a href="https://pypi.org/project/swarmauri/">
        <img src="https://img.shields.io/pypi/v/swarmauri_{{RESOURCE_KIND}}_{{PACKAGE_NAME}}?label=swarmauri_{{RESOURCE_KIND}}_{{PACKAGE_NAME}}&color=green" alt="PyPI - swarmauri_{{RESOURCE_KIND}}_{{PACKAGE_NAME}}"/></a>
</p>

---

# swarmauri_{{ RESOURCE_KIND }}_{{ PACKAGE_NAME }}
<!-- Include thorough and comprehensive installation and usage documentation. -->