![Swamauri Logo](https://res.cloudinary.com/dbjmpekvl/image/upload/v1730099724/Swarmauri-logo-lockup-2048x757_hww01w.png)

<p align="center">
    <a href="https://pypi.org/project/swarmauri_{{resource_kind}}_{{package_name}}/">
        <img src="https://img.shields.io/pypi/dm/swarmauri_{{resource_kind}}_{{package_name}}" alt="PyPI - Downloads"/></a>
    <a href="https://github.com/swarmauri/swarmauri-sdk">
        <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https://github.com/swarmauri/swarmauri-sdk/pkgs/{{project_root}}/swarmauri_{{resource_kind}}_{{package_name}}&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false" alt="GitHub Hits"/></a>
    <a href="https://pypi.org/project/swarmauri/">
        <img src="https://img.shields.io/pypi/pyversions/swarmauri_{{resource_kind}}_{{package_name}}" alt="PyPI - Python Version"/></a>
    <a href="https://pypi.org/project/swarmauri/">
        <img src="https://img.shields.io/pypi/l/swarmauri_{{resource_kind}}_{{package_name}}" alt="PyPI - License"/></a>
    <br />
    <a href="https://pypi.org/project/swarmauri/">
        <img src="https://img.shields.io/pypi/v/swarmauri_{{resource_kind}}_{{package_name}}?label=swarmauri_{{resource_kind}}_{{package_name}}&color=green" alt="PyPI - swarmauri_{{resource_kind}}_{{package_name}}"/></a>
</p>

---

# Swarmauri-{{ resource_kind }}-{{ package_name }}