[project]
name = "swarmauri-typing"
version = "0.7.6.dev6"

description = "This repository includes typing used in the Swarmauri framework."
authors = [
    { name = "Jacob Stewart", email = "jacob@swarmauri.com" },
    ]
license = "Apache-2.0"
readme = { file = "README.md", content-type = "text/markdown" }
repository = "http://github.com/swarmauri/swarmauri-sdk"
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12"
]
requires-python = ">=3.10,<3.13"

[tool.uv.sources]
swarmauri_core = { workspace = true }

[dependency-groups]
dev = [
"toml>=0.10.2",
"pytest>=8.0.0",
"pytest-xdist>=3.6.1",
"pytest-asyncio>=0.24.0",
"pytest-timeout>=2.3.1",
"pytest-json-report>=1.5.0",
"python-dotenv>=1.0.0",
"pytest-mock>=3.14.0",
"jsonschema>=4.18.5",
"ruff>=0.9.9",
"pytest-benchmark>=4.0.0",
]

[tool.pytest.ini_options]
markers = [
    "test: standard test",
    "unit: Unit tests",
    "i9n: Integration Tests",
    "r8n: Regression Tests",
    "timeout: mark test to timeout after X seconds",
    "xfail: Expected failures",
    "xpass: Expected passes",
    "acceptance: Acceptance tests",
    "perf: Performance tests that measure execution time and resource usage"
]

log_cli = true
log_cli_level = "INFO"
log_cli_format = "%(asctime)s [%(levelname)s] %(message)s"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"

asyncio_default_fixture_loop_scope = "function"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"