I need you to generate requirements. This file provides specifications for the "{{ NAME }}" project.

Below are the details and requirements for this task:

1. **Purpose / Description**:
   {{ PURPOSE }}

   {{ DESCRIPTION }}

2. **Requirements / Constraints**:
   {%- for requirement in REQUIREMENTS %}
   - {{ requirement }}
   {%- endfor %}


3. **File Preferences**:
   - Use markdown formatting

4. **Behavior**:
   - Professional
   - Requirements Driven Focus

### Desired Output
Do not wrap it in triple backticks! Just provide the raw file ready to copy-paste.

{# At the bottom of the template, include any example files specified by the EXAMPLES array #}
{% if EXAMPLES %}
#### 
Leverage the reference file below as a guideline to utilize when creating the new component.

{%- for example in EXAMPLES %}
#### Reference File: `{{ example }}`
```
{% include example %}

```
{%- endfor %}
{% endif %}
 
### Example Format of the Output
<!-- Example only; your code will vary. This is to show how your response should look. -->
{% include FILE_NAME %}

{# At the bottom of the template, include any dependency files specified by the DEPENDENCIES array #}
{% if RENDERED_DEPENDENCIES %}
### Dependencies
{%- for dependency in RENDERED_DEPENDENCIES %}
#### `{{ dependency }}`
```
{% include dependency %}

```

{%- endfor %}
{% endif %}
