from {{ PACKAGE_ROOT }}.{{ MODULE_NAME }} import {{ MODULE_NAME }}


__all__ = [ "{{ MODULE_NAME }}" ]

try:
    # For Python 3.8 and newer
    from importlib.metadata import version, PackageNotFoundError
except ImportError:
    # For older Python versions, use the backport
    from importlib_metadata import version, PackageNotFoundError

try:
    __version__ = version("{{ PACKAGE_ROOT }}")
except PackageNotFoundError:
    # If the package is not installed (for example, during development)
    __version__ = "0.0.0"

