I need you to generate a file named "{{ FILE.RENDERED_FILE_NAME }}". 
The file provides SQLAlchemy model and corresponding Pydantic schemas for the "{{ MOD.NAME }}" resource. 

Below are the details and requirements for this task:

1. **Purpose**:
   {{ FILE.EXTRAS.PURPOSE }}

2. **Description**:
   {{ FILE.EXTRAS.DESCRIPTION }}

3. **Requirements / Constraints**: 
   - Provide the concrete fully functional implementation of the code.
   - Include comments explaining critical sections of the code where necessary.
    {%- if FILE.EXTRAS.HAS_CHILDREN is true %}
   - The model should properly reflect relationships, and the read schema should automatically include nested data for related children. 
    {%- endif %}
   - Do not set non-primary IDs as Foreign Keys as the ID may be a primary contained in another microservice's database, to which this file will not have access to.
   {%- for requirement in FILE.EXTRAS.REQUIREMENTS %}
   - {{ requirement }}
   {%- endfor %}


4. **Style Guide**: 
   - The code follows PEP 8 style guidelines.
   - All modules, functions, classes, and methods must include spacy styled docstrings.
   - The code follows PEP 484 annotation guidelines.
   - Critical sections of the code include comments explaining the logic.
   - Assume the user will copy-paste this code as-is into their project.
   - Provide the concrete fully functional implementation of the code.
   
5. **File and Code Preferences**:
   - Use clear, concise comments to document model fields, relationships, and schema fields.


### Desired Output
Produce a single code snippet that contains the entire content for the file {{ FILE.RENDERED_FILE_NAME }}. 
Do not wrap it in triple backticks! Just provide the raw code ready to copy-paste.
Do not provide an explanation afterward.

{# At the bottom of the template, include any example files specified by the EXAMPLES array #}
{% if FILE.EXTRAS.EXAMPLES %}
#### 
Leverage the reference file below as a guideline to utilize when creating the new component.

{%- for example in FILE.EXTRAS.EXAMPLES %}
#### Reference File: `{{ example }}`
```
{% include example %}

```
{%- endfor %}
{% endif %}
 
### Example Format of the Output
<!-- Example only; your code will vary. This is to show how your response should look. -->
{% include FILE.FILE_NAME %}


{# At the bottom of the template, include any dependency files specified by the DEPENDENCIES array #}
{% if FILE.EXTRAS.DEPENDENCIES %}
### Dependencies
{%- for dependency in FILE.EXTRAS.DEPENDENCIES %}
#### `{{ dependency | replace(PROJ.ROOT + '/', '') }}`
```
{% include dependency %}

```

{%- endfor %}
{% endif %}
