site_name: Swarmauri SDK
repo_url: https://github.com/swarmauri/swarmauri-sdk
repo_name: swarmauri/swarmauri-sdk

theme:
  name: material
  logo: assets/swarmauri_logo_dark.jpeg
  favicon: assets/swarmauri_logo_dark.jpeg
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: orange
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: orange
      accent: deep orange

  features:
  - announce.dismiss
  - content.action.edit
  - content.code.annotate
  - content.code.copy
  - content.footnote.tooltips
  - content.tabs.link
  - content.tooltips
  - navigation.footer
  - navigation.indexes
  - navigation.instant
  - navigation.instant.prefetch
  - navigation.instant.progress
  - navigation.path
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - navigation.tracking
  - search.highlight
  - search.share
  - search.suggest
  - toc.follow
  icon:
    repo: fontawesome/brands/github

plugins:
- mkdocstrings:
    handlers:
      python:
        options:
          extensions:
          - griffe_typingdoc
          show_root_heading: true
          show_if_no_docstring: true
          inherited_members: true
          members_order: source
          separate_signature: true
          unwrap_annotated: true
          filters:
          - '!^_'
          merge_init_into_class: true
          docstring_section_style: spacy
          signature_crossrefs: true
          show_symbol_type_heading: true
          show_symbol_type_toc: true
          show_source: true
- blog:
    blog_dir: news
- tags:
    enabled: true
- search: null
- autorefs: null

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - abbr
  - attr_list
  - pymdownx.snippets
  - pymdownx.tasklist:
      custom_checkbox: true
extra:
  alternate:
  - name: English
    link: /en/
    lang: en

  social:
    - icon: fontawesome/brands/discord
      link: https://discord.gg/swarmauri
    - icon: fontawesome/brands/youtube
      link: https://youtube.com/@swarmauri
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/swarmauri
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/swarmauri
    - icon: fontawesome/brands/github
      link: https://github.com/swarmauri/swarmauri-sdk

copyright: Copyright &copy; 2025 Swarmauri

nav:
- Home: 
  - index.md
  - Why Use Swarmauri: home/why_use_swarmauri.md
  - Installation & Setup: home/installation.md
  - Contributing: home/contribute.md
  - Get Help: home/help.md

- Guide:
  - guide/index.md
  - Installation: guide/installation.md
  - Usage: guide/usage.md
  - Gateway systemd: guide/gateway-systemd.md
  - Courses:
    - guide/index.md
    - Entry: guide/course/1.md
    - Generative AI: guide/course/2.md
    - Tool: guide/course/3.md
  - FAQ: guide/faq.md

- Concept:
  - concept/index.md
  - Core: concept/core.md
  - Base: concept/base.md
  - Standard: concept/standard.md
  - Swarmauri: concept/swarmauri.md

- API Documentation:
  - api/index.md
  - First Class:
    - api/first_class/index.md
    - Module 1: api/first_class/module1.md
    - Module 2: api/first_class/module2.md
  - Second Class:
    - api/second_class/index.md
    - Module 1: api/second_class/module1.md
    - Module 2: api/second_class/module2.md
  - Third Class:
    - api/third_class/index.md
    - Module 1: api/third_class/module1.md
    - Module 2: api/third_class/module2.md
  - Base:
    - api/base/index.md
    - Module 1: api/base/module1.md
    - Module 2: api/base/module2.md
  - Core:
    - api/core/index.md
    - Module 1: api/core/module1.md
    - Module 2: api/core/module2.md
  

- Blog:
  - blog/index.md
  - News: blog/news.md
  - Events: blog/events.md
  - Releases: blog/releases.md
  
- Swarmauri People: people/index.md

