[
  {
    "FILE_NAME": "{% raw %}{{ PROJECT_ROOT }}/core/swarmauri_core/{{ RESOURCE_KIND }}/{{ INTERFACE_NAME }}.py{% endraw %}",
    "PURPOSE": "Implements the new component's main class.",
    "DESCRIPTION": "This file defines the abstract class implementation.",
    "REQUIREMENTS": [
      "Do not implementation logic.",
      "Ensure that all methods are abstractmethods.",
      "Inlcude proper type hints."
      {% if ADDITIONAL_REQUIREMENTS %}
        {% for requirement in ADDITIONAL_REQUIREMENTS %},
        "{{ requirement }}"
        {% endfor %}
      {% endif %}
    ],
    "PROCESS_TYPE": "GENERATE",
    "EXAMPLES": []
  }
  {% if NEW_RESOURCE_KIND %},
  {
    "FILE_NAME": "{% raw %}{{ PROJECT_ROOT }}/core/swarmauri_core/{{ RESOURCE_KIND }}/__init__.py{% endraw %}",
    "PROCESS_TYPE": "COPY"
  }
  {% endif %}
]
