from abc import ABC, abstractmethod

class {{ INTERFACE_NAME }}(ABC):
    """
    <!-- Add docstrings here -->
    """
    
    # Methods
    <!-- Include additional methods here. All methods should include complete implementation logic. -->