name: Deploy Documentation

on:
  push:
    branches: [main]
    paths:
      - 'docs/**'
      - 'pkgs/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    env:
      VM_NAME: 111-cloud-device
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Display VM Info
        run: |
          echo "Running on VM: $VM_NAME"
          
      - name: Deploy documentation
        working-directory: docs
        run: |
          echo "Deploying to VM: $VM_NAME"
          # Stop any previous containers
          docker-compose down
          
          # Build and start the new container
          docker-compose up -d
          
          echo "Documentation deployment completed on $VM_NAME"