[tool.poetry]
name = "swarmauri_tool_communitygithub"
version = "0.6.0.dev1"
description = "Github Tool"
authors = ["Jacob Stewart <jacob@swarmauri.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "http://github.com/swarmauri/swarmauri-sdk"
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12"
]

[tool.poetry.dependencies]
python = ">=3.10,<3.13"

# Swarmauri
swarmauri_core = { path = "../../core" }
swarmauri_base = { path = "../../base" }

# Dependencies
pygithub = "^2.4.0"



[tool.poetry.group.dev.dependencies]
flake8 = "^7.0"
pytest = "^8.0"
pytest-asyncio = ">=0.24.0"
pytest-xdist = "^3.6.1"
pytest-json-report = "^1.5.0"
python-dotenv = "*"
requests = "^2.32.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
norecursedirs = ["combined", "scripts"]

markers = [
    "test: standard test",
    "unit: Unit tests",
    "integration: Integration tests",
    "acceptance: Acceptance tests",
    "experimental: Experimental tests"
]
log_cli = true
log_cli_level = "INFO"
log_cli_format = "%(asctime)s [%(levelname)s] %(message)s"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"
asyncio_default_fixture_loop_scope = "function"

[tool.poetry.plugins."swarmauri.tools"]
GithubBranchTool = "swarmauri_tool_communitygithub.GithubBranchTool"
GithubCommitTool = "swarmauri_tool_communitygithub.GithubCommitTool"
GithubIssueTool = "swarmauri_tool_communitygithub.GithubIssueTool"
GithubPRTool = "swarmauri_tool_communitygithub.GithubPRTool"
GithubTool = "swarmauri_tool_communitygithub.GithubTool"
GithubRepoTool = "swarmauri_tool_communitygithub.GithubRepoTool"

[tool.poetry.plugins."swarmauri.toolkits"]
GithubToolkit = "swarmauri_tool_communitygithub.GithubToolkit"

